{%extends 'base.html'%}

{% block 'titulo' %} Escolher Filtros {%endblock%}


{% block 'conteudo' %}
<div class="container">
    {% if status == '0'%}
    <div class="alert alert-success" role="alert">
        Mudanças Pendentes
    </div>
        {% endif %}
        {% if status == '1'%}
        <div class="alert alert-success" role="alert">
        Mudanças Salvas
        </div>
        {% endif %}
        {% if status == '2'%}
        <div class="alert alert-success" role="alert">
        Informe uma palavra-chave válida
        </div>
        {% endif %}       

    <div class="col-md-3">
    </div>

    <div class="col-md">        
        <h1>Filtro</h1>
        <hr>
        <form  method="POST" action="{% url 'cadastrar_filtros' %}">{% csrf_token %}
            <input name="filtro" class="form-control" type="text" placeholder="Informe palavras-chave">
            <br>
            <input name="adicionar" class="btn btn-info btn-lg" type="submit" value="Adicionar">
            <input name="salvar" class="btn btn-info btn-lg" type="submit" value="Salvar">
        </form>
            <br>
            <a>Adicione as palavras individualmente para um resultado mais satisfatório e lembre-se de salvar após tudo ser adicionado</a>
            <br>
            <br>            
            <br>
            <a>Os seguintes filtros são padrões para todos os usuarios:</a>
            <ol>
                <li>Mundo</li>
                <li>País</li>
                <li>Negocios</li>
                <li>Ciencia e Tecnologia</li>                
                <li>Entreterimento</li>
                <li>Esportes</li>
                <li>Saúde</li>
            </ol>   
        </form>
    </div>

    <div class="col-md-3">
    </div>

</div>

</div>

    {% endblock%}